*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo_ae{
    width: 150px;
}

#navegador important{
    background-color: rgb(125, 120, 189);
}

main{
    background-image: url(../images/background_3295.avif);
    background-size: cover;
}

#main_corto {
    height: 100vh;
}

#boton1, #boton2, #boton3, #boton4, #boton5{
    margin: 0.1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

footer{
    justify-content: space-between;
}

h3{
    align-self: flex-end;
    align-items: end;
    margin-right: 6vw;
}

table{
    background-color: #f5f5f5ab;
}

#pie {
    position: sticky;
    bottom: 0px;
}